/*
TODO: Add color schemes
TODO: Style the progress bar to look more professional
*/
.PaymentPageContent > div > div {
    position: relative;
    margin:60px 50px 0 10%;
    float:left;
}

.ProgressBar{
    width:75%;
    margin-left: 13%;
    margin-top: 5%;
}

.PaymentPageContent > div > form {
    position: relative;
    margin:60px 10% 0 0;
    float: right;
    color: black;
}

.PaymentPageContent > div > form  > div > p {
    text-align: right;
    color: black;
}

#ActivityList > div > p  {
    /* float: right; */
    color: black;
    text-align: right;
}

.ChargesList  {
    color: black;
}

.container {
    margin-top: 25px;
}
