.rectangleImage {
    width: 652px;
    height: 367px;
    border: solid 1px #979797;
    background-color: #d8d8d8;
}

.rectangleBackground {
    height: 600px;
    border: solid 1px #979797;
    background-color: #222222;
    display: inline-block;
    margin:auto;
    overflow:hidden;
    text-align:center;
    width:100%;
    text-align:center;
}

.rectangleBackground > div {
    display: inline-block;
    margin: 2%;
    padding: 20px;
    width: 46%; /* because margin is 2%, we have 2 divs, so (100% - 2*2%)/2 = 46% */
}

/* Import Roboto font */
@import url(https://fonts.googleapis.com/css?family=Roboto);
.headingText {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.contentText {
    font-family: Roboto-light, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: normal;
    color: #ffffff;
}

.moreAboutUs {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.textContent {
    vertical-align: middle;
    text-align: left;
    line-height: 20%;
    display: inline-block;
    max-width: 400px
}
