/* Import Roboto font */
@import url(https://fonts.googleapis.com/css?family=Roboto);
.contactUsHeaderText {
    font-family: Roboto;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    text-align: left;
}

.contactUsDescriptionText {
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #4a4a4a;
    text-align: left;
}

.contactFormText {
    height: 27px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: normal;
    color: #5e6a6e;
    text-align: left;
    margin: 0;
    padding: 0;
}

.contactUsMessageBox {
    width: 100%;
    height: 50vh;
    text-align: left;
    padding-left:0;
    padding-top:0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
}

.contactUsPageContainer {
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

.contactUsContainer {
    /* padding: 2%; */
    /* flex-direction: column; */
    /* margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%; */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.contactUsMain {
    width: 100%;
    margin: auto;
    min-width: 60%;
    align-self: flex-end;
}

input, textarea {
    padding: 0;
    margin-top: 0.5%;
    margin-bottom: 1%;
    width: 100%;
}

input#contactUsSubmitButton {
    color: #fe4349;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    justify-content: right;
    box-sizing: border-box;
    -webkit-appearance: textfield;
    -webkit-box-flex: 1;
    border-radius: 27px;
    border-width: 2px;
    flex: 1;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: 0;
    vertical-align: baseline;
    width: 12vh;
    height: 5vh;
    border: 1px solid #fe4349;
}

.contactUsText {
    padding-left: 1%;
    padding-right: 1%;
    color: black;
    font-family: Roboto;
    font-size: 16px;
    /* font-weight: 300; */
    margin-left: 10px;
    /* width: 100%; */
    width: fit-content;
    color: #ff4252;
    margin-bottom: 10px;
}

.contactUsTextContainer {
    font-family: Roboto;
    /* line-height: 1; */
    width: 220px;
    /* text-align: right; */
    display: flex;
    align-content: center;
    height: fit-content;
    padding: 1px;
}

.contactUsInfo {
    margin-left: 40px;
    margin-top: 80px;
}