/* Import Roboto font */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.uppercase * {
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}

.background {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    padding-left: 5%;
}

.pageLinks {
    text-align: left;
}

.pageLinks > p {
    padding: 2%;
    padding-bottom: 1%;
}

.button {
    color: #ffffff;
    background-color: transparent;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    text-align: right;
    font-weight: bold;
    justify-content: right;
    box-sizing: border-box;
    -webkit-appearance: textfield;
    -webkit-box-flex: 1;
    border-radius: 27px;
    border-width: 2px;
    flex: 1;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: 0;
    padding: 5px 2.5rem 5px 1.5rem;
    vertical-align: baseline;
}

.pageLinks > div {
    float: right;
    padding-right: 10%;
    padding-top: 1.5%;
}

/* .right {
    justify-content: right;
} */
